@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* HEADER START */
.header-top{
    width: 100%;
    padding: 6vw 7vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
}

.h1-box{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.logo-img{
    width: 10vw;
}

.h1-box h1{
    font-size: calc(.2rem + 4vw);
    font-family: 'Nunito', sans-serif;
}

.h1-span{
    color: rgba(45, 118, 249, 1);
}

.h-nav{
    width: 40%;
    padding-right: 7vw;
    background: white;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
    text-align: right;
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 999;
}

.h-ul{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    list-style: none;
}

.h-ul a{
    font-size: calc(.2rem + 4vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
    transition: opacity 150ms ease-in-out;
    opacity: 0;
    color: black;
}

.h-ul a:hover{
    font-weight: 700;
    color: rgba(45, 118, 249, 1);
}

/* MENU CONFIG */
.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ .h-nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ .h-nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
    width: 45px;
    height: 40px;
    border: 1px solid rgba(45, 118, 249, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.nav-toggle-span,
.nav-toggle-span::before,
.nav-toggle-span::after{
    width: 1.5em;
    height: 3px;
    border-radius: 2px;
    display: block;
    background-color: rgba(45, 118, 249, 1);
    position: relative;
}

.nav-toggle-span::before,
.nav-toggle-span::after{
    content: '';
    position: absolute;
}

.nav-toggle-span::before{
    top: .5em;
}

.nav-toggle-span::after{
    bottom: .5em;
}
/* MENU CONFIG END */

.h-btn{
    width: 10em;
    height: 3em;
    font-size: calc(.2rem + 1vw);
    border: 1.5px solid #2D76F9;
    border-radius: 250px;
    color: #2D76F9;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
    background-color: transparent;
    position: relative;
    z-index: 1;
    display: none;
}

/* HEADER 2º CONTAINER */
.header-low{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.h-text{
    width: 100%;
    padding: 6vw 6vw 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.h-text h2{
    width: 12ch;
    font-size: calc(.2rem + 11vw);
    font-family: 'Poppins', sans-serif; 
    line-height: 1.4em;
}

.h-text p{
    width: 31ch;
    font-size: calc(.2rem + 3.5vw);
    font-family: 'Poppins', sans-serif; 
    line-height: 2em;
    color: #747474;
}

.h-low-btn{
    width: 14em;
    height: 5em;
    font-size: calc(.2rem + 3.5vw);
    border-radius: 250px;
    background-color: #2D76F9;
    color: white;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
    border: none;
}

.h-fig img{
    width: 100%;
}
/* HEADER END */

/* MAIN 1º CONTAINER */
.card-container{
    width: 100%;
    padding: 2.5em 7vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.calendary-card, .archive-card, .notification-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.calendary-fig, .archive-fig, .notification-fig{
    width: 25vw;
    height: 25vw;
    border-radius: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF4FF;
}

.calendary-img, .archive-img, .notification-img{
    width: 15vw;
}

.calendary-card h3, .archive-card h3, .notification-card h3{
    font-size: calc(.2rem + 5vw);
    font-family: 'Poppins', sans-serif;
}

.calendary-card p, .archive-card p, .notification-card p{
    font-size: calc(.2rem + 3.5vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: center;
    color: #747474;
}

/* MAIN 2º & 3º CONTAINER */
.set-up-container, .priority-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.set-up-fig, .priority-fig{
    background-color: #EEF4FF;
}

.setup-desktop, .priority-desktop{
    display: none;
}

.setup-mobile, .priority-mobile{
    width: 100%;
    display: initial;
}

.set-up-txt, .priority-txt{
    padding: 2em 7vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.set-up-txt h3, .priority-txt h3{
    font-size: calc(.2rem + 5vw);
    font-family: 'Poppins', sans-serif;
}

.set-up-txt p, .priority-txt p{
    font-size: calc(.2rem + 3.5vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    color: #747474;
}

/* MAIN 4º CONTAINER */
.download-container{
    width: 85%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #2D76F9;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.download-container h3{
    width: 19ch;
    font-size: calc(.2rem + 5vw);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.download-btn, .about-btn{
    width: 13em;
    height: 4em;
    font-size: calc(.2rem + 4vw);
    border: 2px solid white;
    border-radius: 250px;
    background-color: #2D76F9;
    color: white;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
}

.download-btn:hover, .about-btn:hover{
    background-color: white;
    color: #2D76F9;
}

.download-fig{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
}

.ellipse-top,
.ellipse-bottom{
    width: 40vw;
}

.ellipse-top{
    align-self: flex-start;
}

.ellipse-bottom{
    align-self: flex-end;
}

/* MAIN 5º CONTAINER */
.opinion-container{
    padding: 2em 7vw;
    display: flex;
    flex-direction: column;
}

.opinion-fig{
    background-color: #EEF4FF;
    display: none;
}

.opinion-wrapper{

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.opinion-wrapper h2{
    font-size: calc(.2rem + 6vw);
    font-family: 'Poppins', sans-serif;
}

.opinion-txt{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.opinion-txt img{
    width: 25vw;
}

.opinion-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.opinion-card h3{
    font-size: calc(.2rem + 4vw);
    font-family: 'Poppins', sans-serif;
}

.opinion-card h4{
    font-size: calc(.2rem + 3vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #747474;
}

.opinion-wrapper p{
    width: 30ch;
    font-size: calc(.2rem + 3.5vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    color: #212121;
}

.opinion-btn-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.back-btn, .next-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-btn img, .next-btn img{
    width: 10vw;
}

/* FOOTER START */
.footer-container{
    width: 100%;
    padding: 2em 7vw 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* FOOTER 1º BOX */
.footer-logo-box{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer-wrapper img{
    width: 15vw;
}

.footer-wrapper h3{
    font-size: calc(.2rem + 5vw);
    font-family: 'Nunito', sans-serif;
}

.h3-span{
    color: rgba(45, 118, 249, 1);
}

.footer-logo-box p{
    width: 34ch;
    font-size: calc(.2rem + 3vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    color: #747474;
}

/* FOOTER 2º BOX */
.footer-nav{
    display: flex;
    justify-content: space-between;
}

.f-sitemaps h3, .f-advantages h3{
    font-size: calc(.2rem + 4vw);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1em;
}

.footer-ul a{
    font-size: calc(.2rem + 2.8vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5em;
    display: flex;
    align-items: center;
    color: #747474;
}

.footer-ul a::before{
    content: '•';
    font-size: calc(.2rem + 4vw);
    margin-right: 5px;
    color: #2D76F9;
}

/* FOOTER 3º BOX */
.footer-social{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-social h3{
    font-size: calc(.2rem + 4vw);
    font-family: 'Poppins', sans-serif;
}

.footer-social-fig{
    display: flex;
    gap: .5em;
}

.footer-social-fig img{
    width: 10vw;
}

@media (min-width: 700px){
    /* HEADER DESKTOP 1º CONTAINER */
    .header-top{
        padding: 2vw 4vw 0;
        justify-content: space-between;
    }
    
    .h1-box{
        gap: 1vw;
    }
    
    .logo-img{
        width: 3vw;
    }
    
    .h1-box h1{
        font-size: calc(.2rem + 1vw);
    }
    
    .h-nav{
        width: 70%;
        transform: scale(1);
        position: initial;
        z-index: 0;
    }
    
    .h-ul{
        flex-direction: row;
    }
    
    .h-ul li{
        width: 7vw;
    }

    .h-ul a{
        font-size: calc(.2rem + 1vw);
        opacity: 1;
    }

    .nav-toggle-label{
        display: none;
    }
    
    .h-btn{
        display: initial;
    }

    /* HEADER DESKTOP 2º CONTAINER */
    .header-low{
        flex-direction: row;
    }
    
    .h-text{
        padding: 2vw 0 0 4vw;
        gap: 3vw;
    }
    
    .h-text h2{
        font-size: calc(.2rem + 4.5vw);
    }
    
    .h-text p{
        width: 47ch;
        font-size: calc(.2rem + 1.1vw);
    }
    
    .h-low-btn{
        width: 16em;
        font-size: calc(.2rem + .7vw);
    }
    
    .h-fig{
        width: 100%;
        position: relative;
        top: -6.2vw;
        right: 0;
        z-index: 0;
    }

    .h-fig img{
        border-bottom-left-radius: 10vw;
    }

    /* MAIN DESKTOP 1º CONTAINER */
    .card-container{
        padding: 2vw 4vw 0;
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
    
    .calendary-card, .archive-card, .notification-card{
        align-items: flex-start;
        gap: 1.5em;
    }
    
    .calendary-fig, .archive-fig, .notification-fig{
        width: 7vw;
        height: 7vw;
    }
    
    .calendary-img, .archive-img, .notification-img{
        width: 4vw;
    }
    
    .calendary-card h3, .archive-card h3, .notification-card h3{
        font-size: calc(.2rem + 1.1vw);
    }
    
    .calendary-card p, .archive-card p, .notification-card p{
        width: 35ch;
        font-size: calc(.2rem + .9vw);
        text-align: left;
    }

    /* MAIN DESKTOP 2º & 3º CONTAINER */
    .set-up-container, .priority-container{
        padding: 6vw 0 0 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .set-up-fig{
        width: 45%;
        border-radius: 0 70px 180px 0;
    }

    .priority-fig{
        width: 45%;
        border-radius: 70px 0 0 180px;
        order: 2;
    }

    .setup-desktop, .priority-desktop{
        width: 100%;
        display: initial;
    }

    .setup-mobile, .priority-mobile{
        display: none;
    }

    .set-up-txt, .priority-txt{
        padding: 2vw 4vw 0;
        gap: 2em;
    }

    .set-up-txt h3, .priority-txt h3{
        width: 20ch;
        font-size: calc(.2rem + 2.5vw);
    }

    .set-up-txt p, .priority-txt p{
        width: 45ch;
        font-size: calc(.2rem + 1.1vw);
    }

    /* MAIN DESKTOP 4º CONTAINER */
    .download-container{
        width: 90%;
        margin: 8vw auto;
        padding: 6vw 0;
        gap: 8vw;
    }
    
    .download-container h3{
        width: 35ch;
        font-size: calc(.2rem + 1.5vw);
    }
    
    .btn-wrapper{
        flex-direction: row;
        gap: 2.5vw;
    }
    
    .download-btn, .about-btn{
        font-size: calc(.2rem + 1vw);
    }
    
    .ellipse-top,
    .ellipse-bottom{
        width: 15vw;
    }

    /* MAIN DESKTOP 5º CONTAINER */
    .opinion-container{
        padding: 2em 5vw 2em 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .opinion-fig{
        width: 50%;
        border-radius: 0 8vw 8vw 0;
        display: initial;
    }

    .opinion-fig img{
        width: 80%;
    }
    
    .opinion-wrapper{
        align-self: flex-end;
        gap: 2vw;
    }
    
    .opinion-wrapper h2{
        font-size: calc(.2rem + 2.5vw);
    }
    
    .opinion-txt img{
        width: 7vw;
    }
    
    .opinion-card h3{
        font-size: calc(.2rem + 1.4vw);
    }
    
    .opinion-card h4{
        font-size: calc(.2rem + 1vw);
    }
    
    .opinion-wrapper p{
        width: 40ch;
        font-size: calc(.2rem + 1.2vw);
    }
    
    .opinion-btn-wrapper{
        justify-content: flex-start;
        gap: 1em;
    }
    
    .back-btn img, .next-btn img{
        width: 3vw;
    }

    /* FOOTER DESKTOP */
    .footer-container{
        padding: 7vw 7vw 3em;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    /* FOOTER DESKTOP 1º BOX */
    .footer-logo-box{
        gap: 2vw;
    }

    .footer-wrapper img{
        width: 6vw;
    }
    
    .footer-wrapper h3{
        font-size: calc(.2rem + 1.5vw);
    }
    
    .footer-logo-box p{
        font-size: calc(.2rem + 1vw);
    }
    
    /* FOOTER DESKTOP 2º BOX */
    .footer-nav{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
    
    .f-sitemaps h3, .f-advantages h3{
        font-size: calc(.2rem + 1.2vw);
        padding: 2vw 0 0 0;
    }
    
    .footer-ul{
        padding-top: 4vw;
    }

    .footer-ul a{
        font-size: calc(.2rem + 1vw);
    }
    
    .footer-ul a::before{
        font-size: calc(.2rem + 1.5vw);
    }
    
    /* FOOTER DESKTOP 3º BOX */
    .footer-social{
        gap: 4.5vw;
    }

    .footer-social h3{
        font-size: calc(.2rem + 1.2vw);
        padding-top: 2vw;
    }
    
    .footer-social-fig{
        gap: 1vw;
    }
    
    .footer-social-fig img{
        width: 3vw;
    }
}