@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* 
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif; 
    */
}

/* HEADER START */
.header-top{
    width: 100%;
    padding: 6vw 7vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
}

.h1-box{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.logo-img{
    width: 10vw;
}

.h1-box h1{
    font-size: calc(.2rem + 4vw);
    font-family: 'Nunito', sans-serif;
}

.h1-span{
    color: rgba(45, 118, 249, 1);
}

.h-nav{
    width: 40%;
    padding-right: 7vw;
    background: white;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
    text-align: right;
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 999;
}

.h-ul{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    list-style: none;
}

.h-ul a{
    width: 100%;
    font-size: calc(.2rem + 4vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
    transition: opacity 150ms ease-in-out;
    opacity: 0;
    color: black;
}

.h-ul a:hover{
    font-weight: 700;
    color: rgba(45, 118, 249, 1);
}

/* MENU CONFIG */
.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ .h-nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ .h-nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
    width: 45px;
    height: 40px;
    border: 1px solid rgba(45, 118, 249, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.nav-toggle-span,
.nav-toggle-span::before,
.nav-toggle-span::after{
    width: 1.5em;
    height: 3px;
    border-radius: 2px;
    display: block;
    background-color: rgba(45, 118, 249, 1);
    position: relative;
}

.nav-toggle-span::before,
.nav-toggle-span::after{
    content: '';
    position: absolute;
}

.nav-toggle-span::before{
    top: .5em;
}

.nav-toggle-span::after{
    bottom: .5em;
}
/* MENU CONFIG END */

.h-btn{
    display: none;
}
/* HEADER 2º CONTAINER */
.header-low{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h-text{
    width: 100%;
    padding: 6vw 6vw 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.h-text h2{
    width: 12ch;
    font-size: calc(.2rem + 11vw);
    font-family: 'Poppins', sans-serif; 
    line-height: 1.4em;
}

.h-text p{
    width: 31ch;
    font-size: calc(.2rem + 3.5vw);
    font-family: 'Poppins', sans-serif; 
    line-height: 2em;
    color: #747474;
}

.h-low-btn{
    width: 14em;
    height: 5em;
    font-size: calc(.2rem + 3.5vw);
    border-radius: 1500px;
    background-color: #2D76F9;
    color: white;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
    border: none;
}

.h-fig img{
    width: 100%;
}
/* HEADER END */

/* MAIN 1º CONTAINER */
.card-container{
    width: 100%;
    padding: 2.5em 7vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.calendary-card, .archive-card, .notification-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.calendary-fig, .archive-fig, .notification-fig{
    width: 25vw;
    height: 25vw;
    border-radius: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF4FF;
}

.calendary-img, .archive-img, .notification-img{
    width: 15vw;
}

.calendary-card h3, .archive-card h3, .notification-card h3{
    font-size: calc(.2rem + 5vw);
    font-family: 'Poppins', sans-serif;
}

.calendary-card p, .archive-card p, .notification-card p{
    font-size: calc(.2rem + 3.5vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: center;
    color: #747474;
}

/* MAIN 2º & 3º CONTAINER */
.set-up-container, .priority-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.set-up-fig, .priority-fig{
    background-color: #EEF4FF;
}

.setup-desktop, .priority-desktop{
    display: none;
}

.setup-mobile, .priority-mobile{
    width: 100%;
    display: initial;
}

.set-up-txt, .priority-txt{
    width: 100%;
    padding: 2em 7vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.set-up-txt h3, .priority-txt h3{
    font-size: calc(.2rem + 5vw);
    font-family: 'Poppins', sans-serif;
}

.set-up-txt p, .priority-txt p{
    font-size: calc(.2rem + 3.5vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    color: #747474;
}

/* MAIN 4º CONTAINER */
.download-container{
    width: 85%;
    border-radius: 30px;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #2D76F9;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.download-container h3{
    width: 19ch;
    font-size: calc(.2rem + 5vw);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.download-btn, .about-btn{
    width: 13em;
    height: 4em;
    font-size: calc(.2rem + 4vw);
    border: 2px solid white;
    border-radius: 1500px;
    background-color: #2D76F9;
    color: white;
    font-family: 'Poppins', sans-serif; 
    cursor: pointer;
}

.download-btn:hover, .about-btn:hover{
    background-color: white;
    color: #2D76F9;
}

.download-fig{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
}

.ellipse-top,
.ellipse-bottom{
    width: 40vw;
}

.ellipse-top{
    align-self: flex-start;
}

.ellipse-bottom{
    align-self: flex-end;
}

/* MAIN 5º CONTAINER */
.opinion-container{
    padding: 2em 7vw;
}

.opinion-fig{
    background-color: #EEF4FF;
    display: none;
}

.opinion-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.opinion-wrapper h2{
    font-size: calc(.2rem + 6vw);
    font-family: 'Poppins', sans-serif;
}

.opinion-txt{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.opinion-txt img{
    width: 25vw;
}

.opinion-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.opinion-card h3{
    font-size: calc(.2rem + 4vw);
    font-family: 'Poppins', sans-serif;
}

.opinion-card h4{
    font-size: calc(.2rem + 3vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #747474;
}

.opinion-wrapper p{
    width: 30ch;
    font-size: calc(.2rem + 3.5vw);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    color: #212121;
}

.opinion-btn-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.back-btn, .next-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-btn img, .next-btn img{
    width: 10vw;
}


